<div class="services">

  <h1>Services</h1>
  <p>Whether you want a subtle change, or a dramatic new look LK Hair Creations has just what you are looking for. Each service includes a thorough consultation to find the best look that will enhance your features, personality, and lifestyle while addressing the health of your hair.</p>
  
  <div class="service-cards">
    <div class="card">
      <h3>Color Services</h3>
      <p>All color services include 4 ounces of product, the use of Olaplex #1 and #2, and a blow-dry style.</p>
      <ul>
        <li>All Over Color/Color Retouch $66</li>
        <li>Partial Highlight (covers the top crown and sides) $76</li>
        <li>Full Foil Highlight. $96</li>
        <li>Accent Foils. $7 per foil up to 10 foils</li>
        <li>Color Retouch with Partial Highlight. $106</li>
        <li>Color Retouch with Full Foil Highlight. $126</li>
        <li>Balayage, Baby Lights, Ombre, or Color Melts. Starting at $125</li>
        <li>Color Corrections and Fantasy Colors. $100 per hour/minimum of 3 hours
          (includes all color product and any treatments used)</li>
        <li>Men’s Color Camo. $40</li>
        <li>Additional color (each 2 oz of color)</li>
        <a target="_top" style=" background-color: #ffdcc8; color: #000; height: auto; text-transform: uppercase; text-decoration: none; text-align: center; font-family: 'Montserrat', 'Montserrat neue', Montserrat, arial, sans-serif; letter-spacing: 1px; margin: 50px 0; padding: 20px 30px; border-radius: 100px; font-weight: 400; font-size: 20px; cursor: pointer; display: inline-block; "href="https://squareup.com/appointments/book/fanfu0tqfnkcov/CRDJFVEYFV1TY/start">Book Appointment</a>
      </ul>
    </div>
    <div class="card">
      <h3>Haircuts</h3>
      <p>All haircuts include a shampoo and blow-dry style.</p>
      <ul>
        <li>Women's - $44</li>
        <li>Men's - $33</li>
        <li>Child's (Ages 12 and younger) - $28</li>
        <li>Bang Trim - $12 (Always complementary between regular cuts)</li>
        <li>Neck/Beard Trim - $12 (Always complementary between regular cuts)</li>
      </ul>
      <a target="_top" style=" background-color: #ffdcc8; color: #000; height: auto; text-transform: uppercase; text-decoration: none; text-align: center; font-family: 'Montserrat', 'Montserrat neue', Montserrat, arial, sans-serif; letter-spacing: 1px; margin: 50px 0; padding: 20px 30px; border-radius: 100px; font-weight: 400; font-size: 20px; cursor: pointer; display: inline-block; "href="https://squareup.com/appointments/book/fanfu0tqfnkcov/CRDJFVEYFV1TY/start">Book Appointment</a>
    </div>
    <div class="card">
      <h3>Hair Extensions</h3>
      <p>Whether you are looking to lengthen your hair, create fullness and volume, or add a little pop of color, 
      LK Hair Creations uses only the finest quality extensions made from 100% Remy hair. 
      The best part is you can put them in or take them out whenever you want. 
      Consultation required before a price can be quoted.</p>
      <a target="_top" style=" background-color: #ffdcc8; color: #000; height: auto; text-transform: uppercase; text-decoration: none; text-align: center; font-family: 'Montserrat', 'Montserrat neue', Montserrat, arial, sans-serif; letter-spacing: 1px; margin: 50px 0; padding: 20px 30px; border-radius: 100px; font-weight: 400; font-size: 20px; cursor: pointer; display: inline-block; "href="https://squareup.com/appointments/book/fanfu0tqfnkcov/CRDJFVEYFV1TY/start">Book Appointment</a>
    </div>
    <div class="card">
      <h3>Treatments</h3>
      <p>Deep Conditioning are always custom to the condition of your hair whether you need hydration, protein, or both.</p>
      <ul>
        <li>With a service - $20</li>
        <li>Without a service - $35</li>
        <li>Innersense Exfoliating Scalp Treatment - $15 (add to any service)</li>
        <li>Olaplex Stand Alone Treatment (repairs the disulfide bonds) - $40</li>
        <a target="_top" style=" background-color: #ffdcc8; color: #000; height: auto; text-transform: uppercase; text-decoration: none; text-align: center; font-family: 'Montserrat', 'Montserrat neue', Montserrat, arial, sans-serif; letter-spacing: 1px; margin: 50px 0; padding: 20px 30px; border-radius: 100px; font-weight: 400; font-size: 20px; cursor: pointer; display: inline-block; "href="https://squareup.com/appointments/book/fanfu0tqfnkcov/CRDJFVEYFV1TY/start">Book Appointment</a>
      </ul>
    </div>
    <div class="card">
      <h3>Texture Services</h3>
      <ul>
        <li>Texture Wave - Starting at $85</li>
        <li>Specialty Wraps - Starting at $125</li>
        <a target="_top" style=" background-color: #ffdcc8; color: #000; height: auto; text-transform: uppercase; text-decoration: none; text-align: center; font-family: 'Montserrat', 'Montserrat neue', Montserrat, arial, sans-serif; letter-spacing: 1px; margin: 50px 0; padding: 20px 30px; border-radius: 100px; font-weight: 400; font-size: 20px; cursor: pointer; display: inline-block; "href="https://squareup.com/appointments/book/fanfu0tqfnkcov/CRDJFVEYFV1TY/start">Book Appointment</a>
      </ul>
    </div>
    <div class="card">
      <h3>Occasional Styles</h3>
      <ul>
        <li>Everyday style (blow-dry, style and iron curl) - Starting at $30</li>
        <li>Special Occasion - Starting at $50</li>
        <li>Bride - Starting at $85 (includes a one-hour consultation prior to your special day (extra charge for additional time)</li>
        <li class="svc-booking"><a target="_top" style=" background-color: #ffdcc8; color: #000; height: auto; text-transform: uppercase; text-decoration: none; text-align: center; font-family: 'Montserrat', 'Montserrat neue', Montserrat, arial, sans-serif; letter-spacing: 1px; padding: 20px 30px; margin: 20px 0; border-radius: 100px; font-weight: 400; font-size: 20px; cursor: pointer; display: inline-block;" href="https://squareup.com/appointments/book/fanfu0tqfnkcov/CRDJFVEYFV1TY/start">Book Appointment</a><li>
      </ul>
    </div>
  </div>
  
</div>

