<div class="services">

  <div class="services-content">
    <h1>Services</h1>
<<<<<<< HEAD
    <h3>Whether you want a subtle change, or a dramatic new look LK Hair Creations has just what you are looking for. Each service includes a thorough consultation to find the best look that will enhance your features, personality, and lifestyle as well as your hair care needs.</h3>
    <div class="card">
      
    </div>
=======
    <h3>Whether you want a subtle change, or a 
    dramatic new look LK Hair Creations has just what 
    you are looking for. Each service includes a thorough 
    consultation to find the best look that will enhance 
    your features, personality, and lifestyle as well 
    as your hair care needs.
    </h3>
>>>>>>> 7dc98a554897314154e48a69baaeb95967769ecb
  </div>

  

</div>

