<div class="policy-content">

  <h1>My Guarantees and Policies</h1>
  <div class="policy">
    <h2>My Guarantee</h2>
    <p>It is with great confidence that I guarantee all products and services. I will gladly exchange or issue a credit for any unused haircare products.
    All services are guaranteed with the use of products recommended and purchased through LK Hair Creations. I will provide a one- week service adjustment period to ensure your complete satisfaction. Sorry, no cash refunds</p>
  </div>
  <div class="policy">
    <h2>COVID-19 Policy</h2>
    <P>We are strict guidelines to follow all of the State and Local mandates, as well as those imposed by the state board of barbering and cosmetology.

    There are no exceptions to the following rules:
    
    -If you or any member of your household have recently had any symptoms of sickness, we kindly ask you reschedule your appointment for a future date.
    -When you arrive please have a mask on when entering the salon and we will check your temperature prior to your appointment. You are required to wear a mask for the entirety of your appointment. This rule also applies to staff members. If you do not have a mask, a disposable one will be provided for you.
    -Only those getting service done will be allowed inside the building. No one may accompany the client into the building. This includes children.
    -You may bring beverages into the salon, but they must have a lid and straw to be consumed inside.
    </P>
  </div>
  <div class="policy">
    <h2>Cancellation Policy</h2>
    <p>I cherish your time and believe your appointment time is extremely valuable. I hold your appointment time specifically for you. If you must cancel or reschedule your appointment, I kindly ask you give a 24-hour notice. Any cancellations given less than a 24-hour notice will be charged 50% of the service(s) with a minimum $30 charge. All No Shows will be charged 100% of service(s). I understand some circumstances are unforeseen and I will show grace where possible, but please remember this is my livelihood when asking for exceptions.
    </p>
  </div>

</div>