<div class="hero-image">
  <div class="hero-text">
    <h1>Welcome to LK Hair Creations!</h1>
    <br>
    <br>
  </div>
</div>

<div class="about">
  <div class="about-txt">
    <h1>A little about us</h1>
    <br>
    <br>
    <hr>
    <br>
    <br>
    <p>Ad aliqua elit deserunt ullamco. Qui consequat 
    non incididunt adipisicing excepteur. Amet voluptate 
    ipsum eu do exercitation ad sint adipisicing sit. 
    Excepteur minim nulla eiusmod exercitation ipsum 
    exercitation reprehenderit aliqua. Irure ullamco ea 
    amet cupidatat reprehenderit elit esse nulla.</p>
    <br>
    <br>
  </div>
</div>

<div class="contact"> 
  <div class="contact-info">
    <ul>
      <li><a href="#Facebook">Facebook</a>
      <li><a href="https://www.instagram.com/lkhaircreations/">Instagram</a>
      <li><a href="#LinkedIn">LinkedIn</a>
    </ul>
  </div>
</div>

