<div class="hero-image">
  <div class="hero-text">
    <h1>Welcome to LK Hair Creations!</h1>
    <%= button_to "Book Appointment", "#", class:"herobookbtn" %>
    <br>
    <br>
  </div>
</div>

<div class="about">
  <div class="about-txt">
    <h1>A little about us</h1>
    <br>
    <hr>
    <br>
    <div class="aboutptags">
      <p>Welcome to LK Hair Creations, a private studio salon owned by Linda K Williamson and located inside Reflections Salon and Spa. With 20 years of experience as a hairstylist, I am committed to providing you with the highest quality and level of professionalism. I am dedicated to giving my guests exceptional service by listening to their wants, concerns and needs.
      </p>

      <br>

      <p>Throughout my career I have been extremely fortunate to have had the opportunity to work on several photo shoots, fashion shows, and with a few of Denver’s professional sports dance teams. I provide services for the entire family; however, I specialize in women’s cuts, color, and extensions.
      I pride myself with extensive ongoing education, learning the latest trends, techniques, and products. This gives me the ability to keep you in the most up-to-date styles. Each product that I use and recommend is chosen carefully for its ability to maintain and enhance the health and integrity of your hair while keeping our environment safe.
      </p>

      <br>

      <p>Hair is my passion! There is no greater reward to me than to know I have helped my clients feel their absolute best.
      </p>
      <hr style="margin-top:30px;">
      </div>
  </div>
</div>

<div class="contact"> 
  <h2>Book an Appointment, or contact us today!</h2>
  <%= button_to "Book Appointment", "#", class:"contactbook" %>
  <h2 class="contact-icon"><ion-icon name="mail-outline"></ion-icon></h2>
  <h2>lkhaircreations@gmail.com</h2>
  <h2 class="contact-icon"><ion-icon name="call-outline"></ion-icon></h2>
  <h2 style="padding:0;">(303) 578-5325 </h2>
  <ul>
    <li><a href="http://www.facebook.com"><ion-icon name="logo-facebook" class="fb-icon"></ion-icon></a></li>
    <li><a href="https://www.instagram.com/lkhaircreations/"><ion-icon name="logo-instagram" class="ig-icon"></ion-icon></a></li>
  </ul>
</div>


