<div class="hero-image">
  <div class="hero-text">
    <h1>Welcome to LK Hair Creations!</h1>
    <%= button_to "Book Appointment", "#", class:"herobookbtn" %>
    <br>
    <br>
  </div>
</div>

<div class="about">
  <div class="about-txt">
    <h1>A little about us</h1>
    <br>
    <br>
    <hr>
    <br>
    <br>
    <p>Ad aliqua elit deserunt ullamco. Qui consequat 
    non incididunt adipisicing excepteur. Amet voluptate 
    ipsum eu do exercitation ad sint adipisicing sit. 
    Excepteur minim nulla eiusmod exercitation ipsum 
    exercitation reprehenderit aliqua. Irure ullamco ea 
    amet cupidatat reprehenderit elit esse nulla.</p>
    <br>
    <br>
  </div>
</div>

<div class="contact"> 
  <h2>Book an Appointment, or contact us today!</h2>
  <%= button_to "Book Appointment", "#", class:"contactbook" %>
  <h2 class="contact-icon"><ion-icon name="mail-outline"></ion-icon></h2>
  <h2>lkhaircreations@email.com</h2>
  <h2 class="contact-icon"><ion-icon name="call-outline"></ion-icon></h2>
  <h2 style="padding:0;">(303) 915-9341 </h2>
</div>

<div class="social-links">
  <ul>
    <li><a href="http://www.facebook.com">Facebook</a></li>
    <li><a href="http://www.facebook.com">Instagram</a></li>
  </ul>
</div>

