<div class="hero-image">
  <div class="hero-text">
    <h1>Welcome to LK Hair Creations!</h1>
    <br>
    <br>
  </div>
</div>

<div class="about">
  <div class="about-txt">
    <h1>A little about us</h1>
    <br>
    <br>
    <hr>
    <br>
    <br>
    <p>Ad aliqua elit deserunt ullamco. Qui consequat 
    non incididunt adipisicing excepteur. Amet voluptate 
    ipsum eu do exercitation ad sint adipisicing sit. 
    Excepteur minim nulla eiusmod exercitation ipsum 
    exercitation reprehenderit aliqua. Irure ullamco ea 
    amet cupidatat reprehenderit elit esse nulla.</p>
    <br>
    <br>
  </div>
</div>

<div class="contact"> 
  <h1>Get in touch!</h1>
  <%= button_to "Book Appointment", "#", class:"bookbtn" %>
  <br>
  <h2 class="contact-icon"><ion-icon name="person-outline"></ion-icon></h2>
  <h2>LK Hair Creations</h2>
  <h2 class="contact-icon"><ion-icon name="mail-outline"></ion-icon></h2>
  <h2>lkhaircreations@email.com</h2>
  <h2 class="contact-icon"><ion-icon name="call-outline"></ion-icon></h2>
  <h2 style="padding:0;">(303) 915-9341 </h2>
  <ul class="social-links">
    <li><a href="https://www.instagram.com/lkhaircreations/?hl=en" class="ig-link"><ion-icon name="logo-instagram"></ion-icon></a></li>
    <li><a href="https://www.facebook.com/lindaatreflections/" class="facebook-link"><ion-icon name="logo-facebook"></ion-icon></i></a></li>
  </ul>
</div>

