<div class="gallery">
  <div class="gallery-box">
    <h1>Photos are coming soon to the gallery!</h1>
    <ul>
      <li><a href="https://www.facebook.com/lkhaircreations"><ion-icon name="logo-facebook" class="fb-icon"></ion-icon></a></li>
      <li><a href="https://www.instagram.com/lkhaircreations/"><ion-icon name="logo-instagram" class="ig-icon"></ion-icon></a></li>
    </ul>
  </div
</div>