@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}


.topnav {
  display: flex;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  background-color: #ab85cc;
  height: 55px;
}

.topnav a.logo {
  font-size: 1.5em;
  padding: 15px;
  text-decoration: none;
  color: #fff;
  font-weight: 300;
}

.navlinks ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navlinks li {
  list-style: none;
  background-color: #ab85cc;
  transition: background-color 0.2s;
}

.navlinks li:hover {
  background-color: #844cb9;
}

.navlinks li a {
  text-decoration: none;
  color: #fff;
  padding: 1em;
  display: block;
}

.toggle {
  position: absolute;
  top: 1.1em;
  right: 1.1em;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
}

.toggle .bar {
  height: 3px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
}

@media only screen and (max-width: 813px) {

  // Nav //

  .toggle {
    display: flex;
    padding: 0;
  }

  .navlinks {
    display: none;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .topnav {
    flex-direction: column;
    align-items: flex-start;
  }

  .topnav a {
    padding: 0;
  }

  .navlinks ul {
    width: 100%;
    flex-direction: column;
  }

  .navlinks li {
    text-align: center;
  }

  .navlinks li a {
    padding: .5em 1em;
  }

  .navlinks.active {
    display: flex;
  }

  // Homepage Sections //

  .hero-box {
    background: #fff;
    height: 100px;
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
    // position: relative;
  }
  
  .hero-text {
    top: 50%;
    right: 50%;
  }
}


// .topnav a.logo {
//   font-size: 1.5em;
//   font-weight: 300;
// }

// a {
//   color: #fff;
//   text-decoration: none;
// }

// .item {
//   padding: 10px;
// }


// // Mobile //

// @media only screen and (max-width: 600px) {
//   .topnav {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-between;
//     height: 80px;
//     align-items: center;
//   }

//   .topnav a {
//     color: #fff;
//     padding: 14px 16px;
//     display: block;
//     padding: 15px 5px;
//     text-decoration: none;
//   }

//   .topnav a.icon {
//     background: #8f61b9;
//     display: block;
//     position: absolute;
//     right: 0;
//     top: 0;
//   }

//   .apptbtn {
//     display: none;
//   }
// }


// // Tablet //


// // Desktop //

// @media only screen and (min-width: 768px) {
//   .topnav {
//     background: #ab85cc;
//     color: #fff;
//     padding: 0 15px; 
//     overflow: hidden;
//     position: relative;
//   }

//   .apptbtn {
//     background-color: #8f61b9;
//     color: #fff;
//     padding: 10px;
//     border: none;
//     border-radius: 60;
//     transition: background-color 0.2s;
//   }
  
//   .apptbtn:hover {
//     background-color: #844cb9;
//   }

// }