@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

* {
  -webkit-tap-highlight-color: #a269d3;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

nav {
  background: #b69acf;
  height: 80px;
  width: 100%;
}

nav a.logo {
  color: white;
  font-size: 40px;
  line-height: 80px;
  padding: 0 40px 0 25px;
  font-weight: 300;
  text-decoration: none;
  font-family: "Dancing Script";
}
nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
}

a:hover {
  background: #a269d3;
  transition: 0.2s;
}

a.logo:hover {
  background: none;
}

a.booking {
  background-color: #9f6dcc;
  transition: background-color 0.2s;
}

a.booking:hover {
  background-color: #9e59da;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 1173px) {
  .checkbtn {
    display: block;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #b69acf;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.2s;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 25px;
  }

  a:hover {
    background: #b69acf;
  }

  a.booking {
    background-color: #9f6dcc;
    transition: background-color 0.2s;
  }

  #check:checked ~ ul {
    left: 0;
  }
}
