* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  background-color: #f7cbb5;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.gallery {
  margin: 0;
  padding: 0;
  flex-grow: 1;
}

.gallery-content {
  min-height: 100vh;
}
