* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  margin: 0;
}

// Hero Section //

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("hero2.jpg");
  height: 80vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.hero-text h1 {
  font-weight: 100;
  font-size: 4.5em;
}

// About Section //

.about {
  margin: 0;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #f6d1be;
  height: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.about-txt {
  margin: 0;
  padding: 0 30px;
}

.about-txt h1 {
  font-weight: 300;
  font-size: 3em;
}

.about-txt p {
  font-size: 25px;
  font-weight: 200;
}

.about-txt h2 {
  font-weight: 300;
}

hr {
  display: block;
  background-color: #000;
  width: 20%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid black;
}

// Contact Section //

.contact {
  background-color: #fff;
  height: 40vh;
}

// Mobile Styling //

@media (max-width: 600px) {
  nav a.logo {
    font-size: 25px;
  }

  .hero-image {
    background: #000;
    margin: 0;
    height: 50vh;
  }

  .hero-text {
    color: #f3dbcf;
  }

  .about-txt p {
    font-size: 20px;
    font-weight: 300;
  }

  .contact-info ul a {
    color: #000;
  }
}
