* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.services {
  display: flex;
  flex-wrap: wrap;
  min-height: 100%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 50px 200px;
  background-color: #ffdcc8;
  justify-content: center;
}

.services h1 {
  font-family: "Alex Brush", cursive;
  font-weight: 300;
  font-size: 5em;
}

.services h3 {
  font-weight: 300;
  font-size: 2.75em;
  font-family: "Alex Brush", cursive;
  text-align: center;
}

.services p {
  font-weight: 400;
  font-size: 1.2em;
  padding: 0;
  margin: 40px 0;
  text-align: center;
}

.services ul {
  font-weight: 300;
  font-size: 1.2em;
  list-style: none;
  padding: 20px 10px;
}

.services ul li {
  padding: 15px 0;
}

.card {
  border: 1px dashed #4b4b4b;
  background-color: #f7cbb5;
  margin: 50px 0;
  padding: 20px 20px;
  height: auto;
  width: 100%;
  text-align: center;
}

#svc-booking {
  margin: 0;
  padding: 20px 40px;
  background-color: #ffdcc8;
  border: none;
  font-size: 1.25em;
  border-radius: 100px;
  list-style: none;
}

@media (max-width: 1000px) {
  .services {
    padding: 30px 50px;
  }
}
