<div class="products">
  <div class="products-head">
    <h1>Products</h1>
    <h2>As your hairstylist, it is my duty to seek out the very best professional products to maintain the health of your hair, in the salon and at home. I would never prescribe a product for you that I wouldn't use on my own hair. This makes me excited to introduce to you Innersense Organic Beauty, a product line that I am proud to now be using in the salon and available for you to take home!</h2>
  </div>
</div>

<%# <div class="product-images">
  
</div> %>