<div class="products">
  <h1>Products</h1>
  <p>As your hairstylists, it is my duty to seek out the very best professional products to maintain the health of your hair, in the salon and at home. I would never prescribe a product for you that I wouldn't use on my own hair. This makes me excited to introduce to you Innersense Organic Beauty, a product line that I am proud to now be using in the salon and available for you to take home!</p>

  <p>Innersense Organic Beauty is a worldwide leader in the clean beauty movement. Clean chemistry, radical transparency and a commitment to the environment is their promise to you. This means no parabens, silicones, sulfates, synthetic fragrances or other questionable ingredients.
  Founded by Greg and Joanne Starkman, in 2005, they soure the highest quality and Certified Organic ingredients, in the purest, most concentrated form, to create a complete, award-winning line of safe, sustainable and cruelty free personal care products. The ongoing result is salon performance formulas that hydrate, nourish and revitalize all hair types.</p>
</div>